{% extends "layout.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/archivio_gare.css">
{% endblock %}

{% block content %}
    <h1 id="titleH1">Archivio gare</h1>

    {% if gare_terminate %}
        <ul class="gare-ul">
            {% for gara in gare_terminate %}
                <li class="gara-li">
                    <div class="{{ 'allenamento-card' if gara.is_allenamento else 'gara-card' }}">
                        <div class="gara-card-left">
                            <p>{{ gara.datetime_formattato.data_estesa }}</p>
                            <p>Iniziata alle {{ gara.datetime_formattato.orario }}</p>
                            <p>Durata: {{ gara.durata }} minuti</p>
                        </div>
                        <div class="gara-card-center">
                            <h3>{{ gara.titolo }}</h3>
                            {% if gara.is_allenamento %}
                                <h5>{{ '(Allenamento)' if gara.is_pubblica else '(Allenamento privato)' }}</h5>
                            {% elif not gara.is_pubblica %}
                                <h5>(Gara privata)</h5>
                            {% endif %}
                        </div>
                        <div class="gara-card-right">
                            <p>{{ gara.squadre | length }} {{ 'partecipanti' if gara.is_allenamento else 'squadre' }}</p>
                            <p>{{ gara.problemi | length }} problemi</p>
                            <a class="gara-link" href="/visualizza_gara?id={{ gara.id }}">{{ 'Vedi allenamento' if gara.is_allenamento else 'Vedi gara' }}</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}