{% extends "layout.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/css/calendario.css">
{% endblock %}

{% block content %}
    <h1>Gare attive</h1>
    <ul>
        {% for gara in gare_in_corso %}
            <li>{{ gara.titolo }} iniziata il {{ gara.datetime_formattato.datetime_esteso }}</li>
        {% endfor %}
    </ul>

    <h1>Gare prossime</h1>
    <ul>
        {% for gara in gare_prossime %}
            <li>{{ gara.titolo }} con inizio il {{ gara.datetime_formattato.datetime_esteso }}</li>
        {% endfor %}
    </ul>
{% endblock %}
